 body {
  font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
  color: black;
  font-size: 18px;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
  grid-template-rows: 40px 120px 1fr 50px;
  grid-template-columns: 15% 1fr 18%;
  grid-gap: 0px;
  height: 100vh;
  margin: 2px;
}

header {
  grid-area: header;
  background: #ffd503;
  padding: 0px;
  font-size: 8px;
}

nav {
  grid-area: nav;
  background: #FCFCFC;
  padding: 0px;
  text-align: center;
}

main {
  grid-area: main;
  background: #FCFCFC;
  padding: 5px;
}

.product {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
}

.product-image {
  flex-shrink: 0;
  margin-right: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-info {
  flex-grow: 1;
  width: 80vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  color: #777;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: flex-start;
}

.buy-button {
  display: inline-block;
  background-color: #008000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #006600;
}

.offer-label {
  display: inline-block;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

aside {
  grid-area: aside;
  background: #FCFCFC;
  padding: 5px;
}

footer {
  grid-area: footer;
  background: #ffb005;
  padding: 5px;
}

nav a{
    text-decoration:none;
    color:inherit;
    } 
nav li{
    display:inline-block;
    width:20%;
    padding:8px;
    background-color:#000;
    border:1px solid #fff;
    text-align:center;
    color:#fff;
    }
nav li:hover{
    background-color:#fff;
    color:#000;
    }   
.logo img {
  height: 50px;
}
article {
  background: #ffd503;
  padding: 5px;
}


